<div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto bg-light dark:bg-transparent">
    <!-- Header -->
    <div class="bg-white relative bg-light  sm:items-center sm:justify-between py-2 px-6 md:px-8 border-b">
        <div class="mt-2 py-4">
            <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                Shopify Management
            </h2>
        </div>

    </div>
    <div class="rounded-2xl shadow bg-card flex flex-col lg:flex-row w-full my-5">
        <div class="w-full">
            <div class="p-5 pb-4">
                <mat-button-toggle-group #group="matButtonToggleGroup" [value]="mainScreen"
                    (change)="calledScreen(group.value)">
                    <mat-button-toggle value="Current Stores">
                        Current Stores
                    </mat-button-toggle>
                    <mat-button-toggle value="Add New Store">
                        Add New Store
                    </mat-button-toggle>
                    <mat-button-toggle value="Generate API Keys">
                        Generate API Keys
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>
            <div>
                <div *ngIf="mainScreen == 'Current Stores'">
                    <div *ngIf="isLoading" class="px-5">
                        <ngx-skeleton-loader count="8" appearance="line" animation="pulse" [theme]="{ 
                            'background-color': '#dedede'
                          }">
                        </ngx-skeleton-loader>
                    </div>
                    <div *ngIf="!isLoading">
                        <div *ngIf="dataSource.length > 0;else other_content" class="w-full">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Title</th>
                                        <th>Domain</th>
                                        <th>API Key</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of dataSource">
                                        <td>{{item.id}}</td>
                                        <td>
                                            <a [routerLink]="['/apps/shopify',item.id]">{{item.title}}</a>
                                        </td>
                                        <td>{{item.domain}}</td>
                                        <td>{{item.api_key}}</td>
                                        <td>
                                            <div class="flex cursor-pointer">
                                                <mat-icon svgIcon="heroicons_outline:trash" *ngIf="!item?.delLoader"
                                                    (click)="deleteProduct(item)"></mat-icon>
                                                <mat-progress-spinner *ngIf="item?.delLoader" [diameter]="24"
                                                    [mode]="'indeterminate'" class="ml-2"></mat-progress-spinner>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- <mat-paginator #paginator
                                class="border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                                [ngClass]="{'pointer-events-none': isLoading}" [length]="totalUsers" [pageIndex]="0"
                                [pageSize]="20" (page)="getNextData($event)" [hidePageSize]="true">
                            </mat-paginator> -->
                        </div>
                        <!-- No Users Found -->
                        <ng-template #other_content>
                            <div class="px-8">
                                <div class="font-semibold  text-center alert alert-danger">
                                    No Shopify Stores Found.
                                </div>
                            </div>
                        </ng-template>
                    </div>
                </div>
                <div *ngIf="mainScreen == 'Add New Store'" class="p-6">
                    <div class="row" [formGroup]="productForm">
                        <div class="col-12 col-md-6">
                            <mat-form-field class="w-full" appearance="fill">
                                <mat-label>Platform Name*</mat-label>
                                <input matInput placeholder="Enter Platform Name" formControlName="platform">
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-md-6">
                            <mat-form-field class="w-full" appearance="fill">
                                <mat-label>Store Title*</mat-label>
                                <input matInput placeholder="Store Title" formControlName="title">
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-md-6">
                            <mat-form-field class="w-full" appearance="fill">
                                <mat-label>Store Name*</mat-label>
                                <input matInput type="text" placeholder="shopify_store.myshopify.com"
                                    formControlName="domain">
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-md-6">
                            <mat-form-field class="w-full" appearance="fill">
                                <mat-label>Api Key*</mat-label>
                                <input matInput placeholder="Api Key" formControlName="api_key">
                            </mat-form-field>
                        </div>

                        <div class="col-12 col-md-6">
                            <mat-form-field class="w-full" appearance="fill">
                                <mat-label>Api Secret*</mat-label>
                                <input matInput formControlName="api_secret" placeholder="Api Secret">
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-md-6">
                            <mat-form-field class="w-full" appearance="fill">
                                <mat-label>Access Token*</mat-label>
                                <input matInput placeholder="Access Token" formControlName="access_token">
                            </mat-form-field>
                        </div>
                        <div class="text-right col-12">
                            <button class="min-w-50" mat-stroked-button [matTooltip]="'Add New Store'"
                                (click)="addNewProduct()" [disabled]="isAddLoader || !productForm.valid">
                                <mat-icon svgIcon="heroicons_solid:plus" *ngIf="!isAddLoader"></mat-icon>
                                <span class="ml-2" *ngIf="!isAddLoader"> Add New Store </span>
                                <mat-progress-spinner *ngIf="isAddLoader" [diameter]="24"
                                    [mode]="'indeterminate'"></mat-progress-spinner>
                            </button>
                        </div>
                    </div>
                </div>
                <div *ngIf="mainScreen == 'Generate API Keys'" class="p-6">
                    <div class="row">
                        <div class="col-12">
                            <p class="font-bold text-2xl">Settings Tab:</p>
                            <p>Log in to your Shopify account and go to the "Settings" tab.</p>
                            <br>
                            <img src="/assets/1.png" class="w-200" />
                        </div>
                        <div class="col-12">
                            <p class="font-bold text-2xl">Apps and Sales Channels:</p>
                            <p>Within the "Settings" tab, navigate to "Apps and Sales Channels."</p>
                            <br>
                            <img src="/assets/2.png" class="w-200" />
                        </div>
                        <div class="col-12">
                            <p class="font-bold text-2xl">Create a New App:</p>
                            <p>Create a new app by providing a name and app decorator.</p>
                            <br>
                            <img src="/assets/3.png" class="w-200" />
                        </div>
                        <div class="col-12">
                            <br>
                            <img class="w-200" src="/assets/4.png" />
                        </div>
                        <div class="col-12">
                            <p class="font-bold text-2xl">Configuration Tab:</p>
                            <p>Access the "Configuration" tab within the app settings.</p>
                            <br>
                            <img class="w-200" src="/assets/5.png" />
                        </div>
                        <div class="col-12">
                            <p class="font-bold text-2xl">Configure Admin API Integration:</p>
                            <p>Set up Admin API integration in the "Configuration" tab.</p>
                            <br>
                            <img class="w-200" src="/assets/6.png" />
                        </div>
                        <div class="col-12">
                            <p class="font-bold text-2xl">Choose API Permissions:</p>
                            <p>Select the specific API permissions you want for product listing.</p>
                            <br>
                            <img class="w-200" src="/assets/15.png" />
                            <br>
                            <p>Select the specific API permissions you want for orders listing.</p>
                            <br>
                            <img class="w-200" src="/assets/16.png" />
                        </div>
                        <div class="col-12">
                            <p class="font-bold text-2xl">Click API Credentials:</p>
                            <p>In the Admin API section, click on "API Credentials" to reveal your API keys.</p>
                            <br>
                            <img class="w-200" src="/assets/8.png" />
                        </div>
                        <div class="col-12">
                            <p class="font-bold text-2xl">Copy Revealed API Keys:</p>
                            <p>Copy the API keys that are revealed.</p>
                            <br>
                            <img class="w-200" src="/assets/9.png" />
                        </div>
                        <div class="col-12">
                            <p class="font-bold text-2xl">Install App:</p>
                            <p>After obtaining the API keys, click on "Install App" to create an app token.</p>
                            <br>
                            <img class="w-200" src="/assets/10.png" />
                        </div>
                        <div class="col-12">
                            <p class="font-bold text-2xl">Token Generated:</p>
                            <p>Copy the access token.</p>
                            <br>
                            <img class="w-200" src="/assets/11.png" />
                        </div>
                        <div class="col-12">
                            <p class="font-bold text-2xl">Note:</p>
                            <span>Remember to secure your API keys and app token as they provide access to your store's
                                data and functionality.</span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>