<div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto bg-light dark:bg-transparent">
    <!-- Header -->
    <div class="bg-white relative bg-light  sm:items-center sm:justify-between py-2 px-6 md:px-8 border-b">
        <div class="mt-2 py-4">
            <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                Products Management
            </h2>
        </div>

    </div>
    <div class="rounded-2xl shadow bg-card flex flex-col lg:flex-row w-full my-5">
        <div class="w-full">
            <div class="p-5 pb-4">
                <mat-button-toggle-group #group="matButtonToggleGroup" [value]="mainScreen"
                    (change)="calledScreen(group.value)">
                    <mat-button-toggle value="Current Products">
                        Current Products
                    </mat-button-toggle>
                    <mat-button-toggle value="Add New Products">
                        Add New Products
                    </mat-button-toggle>
                    <mat-button-toggle value="Import Products">
                        Import Products
                    </mat-button-toggle>
                    <mat-button-toggle value="Bulk Import Products">
                        Bulk Import Products
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>
            <div>
                <div *ngIf="mainScreen == 'Current Products'">
                    <div *ngIf="isLoading" class="px-5">
                        <ngx-skeleton-loader count="8" appearance="line" animation="pulse" [theme]="{ 
                            'background-color': '#dedede'
                          }">
                        </ngx-skeleton-loader>
                    </div>
                    <div *ngIf="!isLoading">
                        <div class="text-right">
                            <div class="px-5">
                                <mat-form-field class="min-w-100">
                                    <input matInput matTooltip="Enter to search" placeholder="Search Keyword"
                                        [disabled]="isSearching" [(ngModel)]="keyword"
                                        (keyup.enter)="searchUser($event.target.value)">
                                </mat-form-field>
                                <p class="text-secondary text-right font-medium cursor-pointer mb-2"
                                    *ngIf="!isSearching" (click)="resetSearch()">Reset</p>
                                <p class="text-secondary text-right font-medium mb-2" *ngIf="isSearching">Searching...
                                </p>
                            </div>
                        </div>
                        <div *ngIf="dataSource.length > 0;else other_content" class="w-full">
                            <table mat-table [dataSource]="dataSource" class="w-full border-t">
                                <ng-container matColumnDef="image">
                                    <th mat-header-cell *matHeaderCellDef class="w-40 min-w-40">
                                        Image
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        <div class="p-2" *ngIf="element.image_url">
                                            <a *ngIf="!element.image_url.includes('http')"
                                                href="{{imgUrl + element.image_url}}" target="_blank">
                                                <img class="w-10" src="{{imgUrl + element.image_url}}"
                                                    onError="this.src='assets/images/coming_soon.jpg'">
                                            </a>
                                            <a *ngIf="element.image_url.includes('http')" href="{{element.image_url}}"
                                                target="_blank">
                                                <img class="w-10" src="{{element.image_url}}"
                                                    onError="this.src='assets/images/coming_soon.jpg'">
                                            </a>
                                        </div>
                                        <div class="p-2" *ngIf="!element.image_url">
                                            <img class="w-10" onError="this.src='assets/images/coming_soon.jpg'">
                                        </div>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef class="w-40 min-w-40">
                                        Name
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        <a [routerLink]="['/apps/products',element.id]"
                                            class="text-blue-600 underline">{{element.name}}</a>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="product_number">
                                    <th mat-header-cell *matHeaderCellDef class="w-40 min-w-40">
                                        Product Number
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        {{element.product_number}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="price">
                                    <th mat-header-cell *matHeaderCellDef class="w-40 min-w-40">
                                        Price
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        {{element.price | currency}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="slug">
                                    <th mat-header-cell *matHeaderCellDef class="w-40 min-w-40">
                                        Slug
                                    </th>
                                    <td mat-cell *matCellDef="let element" class="text-capitalize">
                                        {{element.slug}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="status">
                                    <th mat-header-cell *matHeaderCellDef class="w-40 min-w-40">
                                        Status
                                    </th>
                                    <td mat-cell *matCellDef="let element" class="text-capitalize">
                                        <mat-icon svgIcon="heroicons_outline:x" *ngIf="!element.is_active"
                                            class="text-red-700 icon-size-6"></mat-icon>
                                        <mat-icon svgIcon="heroicons_outline:check" *ngIf="element.is_active"
                                            class="text-green-700 icon-size-6"></mat-icon>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="created_at">
                                    <th mat-header-cell *matHeaderCellDef class="w-40 min-w-40">
                                        Created At
                                    </th>
                                    <td mat-cell *matCellDef="let element" class="text-capitalize">
                                        {{element.created_at | date}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="action">
                                    <th mat-header-cell *matHeaderCellDef class="w-15 min-w-15"> Action </th>
                                    <td mat-cell *matCellDef="let element">
                                        <div class="flex">
                                            <mat-icon svgIcon="heroicons_outline:trash" *ngIf="!element?.delLoader"
                                                (click)="deleteProduct(element)"></mat-icon>
                                            <mat-progress-spinner *ngIf="element?.delLoader" [diameter]="24"
                                                [mode]="'indeterminate'" class="ml-2"></mat-progress-spinner>
                                        </div>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns;" class="h-18 bg-light"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                                    class="h-14 hover:bg-gray-100 dark:hover:bg-hover" style="cursor: pointer;">
                                </tr>
                            </table>
                            <mat-paginator #paginator
                                class="border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                                [ngClass]="{'pointer-events-none': isLoading}" [length]="totalUsers" [pageIndex]="0"
                                [pageSize]="50" (page)="getNextData($event)" [hidePageSize]="true">
                            </mat-paginator>
                        </div>
                        <!-- No Users Found -->
                        <ng-template #other_content>
                            <div class="px-8">
                                <div class="font-semibold  text-center alert alert-danger">
                                    No Products found.
                                </div>
                            </div>
                        </ng-template>
                    </div>
                </div>
                <div *ngIf="mainScreen == 'Add New Products'" class="p-6">
                    <div class="row" [formGroup]="productForm">
                        <div class="col-12 col-md-6">
                            <mat-form-field class="w-full" appearance="fill">
                                <mat-label>Name*</mat-label>
                                <input matInput placeholder="Enter Product Name" formControlName="name">
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-md-6">
                            <mat-form-field class="w-full" appearance="fill">
                                <mat-label>Product Number*</mat-label>
                                <input matInput placeholder="Enter Product Number" formControlName="product_number">
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-md-6">
                            <mat-form-field class="w-full" appearance="fill">
                                <mat-label>Price*</mat-label>
                                <input matInput type="number" placeholder="Enter Price" formControlName="price">
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-md-6">
                            <mat-form-field class="w-full" appearance="fill">
                                <mat-label>URL*</mat-label>
                                <input matInput placeholder="Enter Product URL" formControlName="url">
                            </mat-form-field>
                        </div>

                        <div class="col-12">
                            <mat-form-field class="w-full" appearance="fill">
                                <mat-label>Description*</mat-label>
                                <textarea matInput name="" id="" cols="30" rows="10" formControlName="description"
                                    placeholder="Enter Product Description"></textarea>
                            </mat-form-field>
                        </div>
                        <!-- <div class="col-12 col-md-6">
                            <mat-form-field class="w-full" appearance="fill">
                                <mat-label>Image*</mat-label>
                                <input matInput placeholder="Enter Image URL" formControlName="image_url">
                            </mat-form-field>
                        </div> -->
                        <div class="col-12 col-md-6">
                            <mat-form-field class="w-full" appearance="fill">
                                <mat-label>Source*</mat-label>
                                <input matInput placeholder="Enter Product Source" formControlName="source">
                            </mat-form-field>
                        </div>
                        <!-- <div class="col-12 col-md-6">
                            <mat-form-field class="w-full" appearance="fill">
                                <mat-label>Slug*</mat-label>
                                <input matInput placeholder="Enter Slug" formControlName="slug">
                            </mat-form-field>
                        </div> -->
                        <div class="col-12 col-md-6">
                            <mat-form-field class="w-full" appearance="fill">
                                <mat-label>Product Type*</mat-label>
                                <mat-select formControlName="product_type">
                                    <mat-option [value]="'normal'">Normal</mat-option>
                                    <mat-option [value]="'affiliate'">Affiliate</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-md-6" *ngIf="productForm.get('product_type').value == 'affiliate'">
                            <mat-form-field class="w-full" appearance="fill">
                                <mat-label>Affiliate Url</mat-label>
                                <input matInput placeholder="Enter Slug" formControlName="affiliate_url">
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-md-6" *ngIf="user.role == 'admin'">
                            <mat-form-field class="w-full" appearance="fill">
                                <mat-label>Vendor*</mat-label>
                                <mat-select formControlName="vendor_id">
                                    <mat-option *ngFor="let item of allVendors"
                                        [value]="item.id">{{item.name}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-md-6">
                            <mat-form-field class="w-full" appearance="fill">
                                <mat-label>Active*</mat-label>
                                <mat-select formControlName="is_active">
                                    <mat-option [value]="true">Active</mat-option>
                                    <mat-option [value]="false">Disabled</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-md-6">
                            <mat-label>Image*</mat-label>
                            <br>
                            <input placeholder="Enter Image URL" type="file" accept="image/*"
                                (change)="imgUpload($event)">
                        </div>
                        <div class="text-right col-12">
                            <button class="min-w-50" mat-stroked-button [matTooltip]="'Add New Products'"
                                (click)="addNewProduct()">
                                <mat-icon svgIcon="heroicons_solid:plus" *ngIf="!isAddLoader"></mat-icon>
                                <span class="ml-2" *ngIf="!isAddLoader"> Add New Product </span>
                                <mat-progress-spinner *ngIf="isAddLoader" [diameter]="24"
                                    [mode]="'indeterminate'"></mat-progress-spinner>
                            </button>
                        </div>
                    </div>
                </div>
                <div *ngIf="mainScreen == 'Import Products'" class="p-5">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <mat-form-field class="w-full">
                                <mat-label>Search Keyword </mat-label>
                                <input matInput placeholder="Search Keyword" [(ngModel)]="bestBuyKeyword">
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-md-6">
                            <mat-form-field class="w-full">
                                <mat-label>Search Category</mat-label>
                                <input matInput placeholder="Search Category" matTooltip="Search Category by name"
                                    [matAutocomplete]="auto" [formControl]="searchCategoryCtrl">
                                <mat-autocomplete class="w-full" #auto="matAutocomplete"
                                    (optionSelected)="onSelected($event)" [displayWith]="displayWith">
                                    <mat-option *ngIf="isSearchingCatefory" class="is-loading">Loading...</mat-option>
                                    <ng-container *ngIf="!isSearchingCatefory">
                                        <mat-option *ngFor="let item of bestBuyCategory" [value]="item">
                                            <span>{{item.name}}</span>
                                        </mat-option>
                                    </ng-container>
                                </mat-autocomplete>
                                <!-- <mat-select matInput [(ngModel)]="selectedCategory">
                                    <mat-option *ngFor="let item of bestBuyCategory"
                                        [value]="item.id">{{item.name}}</mat-option>
                                </mat-select> -->
                            </mat-form-field>
                        </div>
                        <div class="text-right col-12">
                            <button [disabled]="isSearchLoader" class="min-w-50" mat-stroked-button
                                [matTooltip]="'Search Products'" (click)="searchProductsList(1)">
                                <mat-icon svgIcon="mat_outline:search" *ngIf="!isSearchLoader"></mat-icon>
                                <span class="ml-2" *ngIf="!isSearchLoader"> Search Product </span>
                                <mat-progress-spinner *ngIf="isSearchLoader" [diameter]="24"
                                    [mode]="'indeterminate'"></mat-progress-spinner>
                            </button>
                        </div>
                    </div>
                    <div *ngIf="isSearchLoader" class="my-5">
                        <ngx-skeleton-loader count="8" appearance="line" animation="pulse" [theme]="{ 
                            'background-color': '#dedede'
                          }">
                        </ngx-skeleton-loader>
                    </div>
                    <div *ngIf="!isSearchLoader && bestBuyProducts" class="my-5">
                        <ng-container *ngIf="bestBuyProducts.length > 0;else noFound">
                            <!-- Content to show if the condition is true -->
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Image</th>
                                        <th>Name</th>
                                        <th>Price</th>
                                        <th>SKU</th>
                                        <th>Reviews</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of bestBuyProducts">
                                        <td>
                                            <a href="{{item.image}}" target="_blank">
                                                <img class="w-10" src="{{item.image}}"
                                                    onError="this.src='assets/images/coming_soon.jpg'">
                                            </a>
                                        </td>
                                        <td>
                                            <span *ngIf="user.role == 'vendor'">{{item.name}}</span>
                                            <a *ngIf="user.role != 'vendor'" href="{{item.url}}"
                                                target="_blank">{{item.name}}</a>
                                        </td>
                                        <td>
                                            {{ user.role == 'vendor' ? '$$$' : (item.regularPrice | currency)}}
                                        </td>
                                        <td>{{item.sku}}</td>
                                        <td>{{item.customerReviewCount}}</td>
                                        <td>
                                            <button mat-button mat-stroked-button class="min-w-40"
                                                [disabled]="item.addLoader">
                                                <span (click)="addNewBestProduct(item)" *ngIf="!item.addLoader">Add to
                                                    products</span>
                                                <mat-progress-spinner *ngIf="item.addLoader" [diameter]="24"
                                                    [mode]="'indeterminate'" class="ml-2"></mat-progress-spinner>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div *ngIf="bestBuyProducts.length < totalBestBuyProducts" class="flex justify-center my-2">
                                <p (click)="loadMoreBestBuyProduct()" *ngIf="!isLoadMore">Load More</p>
                                <mat-progress-spinner *ngIf="isLoadMore" [diameter]="24" [mode]="'indeterminate'"
                                    class="ml-2"></mat-progress-spinner>
                            </div>
                        </ng-container>

                        <ng-template #noFound>
                            <div class="text-center">No Products Found</div>
                        </ng-template>
                    </div>
                </div>
                <div *ngIf="mainScreen == 'Bulk Import Products'" class="p-5">
                    <input type="file" #fileExcel (change)="onFileChange($event)" />
                    <button mat-button mat-stroked-button [disabled]="isBulkUploadLoader"
                        (click)="bulkUploadProducts()">
                        <span *ngIf="!isBulkUploadLoader">Upload Bulk Products</span>
                        <mat-progress-spinner *ngIf="isBulkUploadLoader" [diameter]="24" [mode]="'indeterminate'"
                            class="ml-2"></mat-progress-spinner>
                    </button>
                    <table *ngIf="excelData.length > 0" class="table table-striped my-3">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Description</th>
                                <th>Product Number</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of excelData">
                                <td>{{ row.Name }}</td>
                                <td>{{ row.Price | currency }}</td>
                                <td>{{ row.Description }}</td>
                                <td>{{ row.Product_Number }}</td>
                            </tr>
                        </tbody>

                    </table>

                </div>
            </div>
        </div>
    </div>
</div>