<div class="flex-auto w-full">
    <div class="w-full" *ngIf="!isEditBoolean">
        <div class="p-5 pb-4">
            <mat-button-toggle-group #group="matButtonToggleGroup" [value]="mainScreen"
                (change)="calledScreen(group.value)">
                <mat-button-toggle value="Current Sliders">
                    Current Sliders
                </mat-button-toggle>
                <mat-button-toggle value="Add New Slider">
                    Add New Slider
                </mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <div>
            <div *ngIf="mainScreen == 'Current Sliders'">
                <div *ngIf="isLoading" class="px-5">
                    <ngx-skeleton-loader count="8" appearance="line" animation="pulse" [theme]="{ 
                        'background-color': '#dedede'
                      }">
                    </ngx-skeleton-loader>
                </div>
                <div *ngIf="!isLoading">
                    <div class="text-right">
                        <div class="px-5">
                            <mat-form-field class="min-w-100">
                                <input matInput matTooltip="Enter to search" placeholder="Search Keyword"
                                    [disabled]="isSearching" [(ngModel)]="keyword"
                                    (keyup.enter)="searchUser($event.target.value)">
                            </mat-form-field>
                            <p class="text-secondary text-right font-medium cursor-pointer mb-2" *ngIf="!isSearching"
                                (click)="resetSearch()">Reset</p>
                            <p class="text-secondary text-right font-medium mb-2" *ngIf="isSearching">Searching...
                            </p>
                        </div>
                    </div>
                    <div *ngIf="dataSource.length > 0;else other_content" class="w-full">
                        <table mat-table [dataSource]="dataSource" class="w-full border-t">
                            <ng-container matColumnDef="image">
                                <th mat-header-cell *matHeaderCellDef class="w-40 min-w-40">
                                    Image
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <div class="p-2">
                                        <a href="{{imgUrl + element.url}}" target="_blank">
                                            <img class="w-10" src="{{imgUrl + element.url}}"
                                                onError="this.src='assets/images/coming_soon.jpg'">
                                        </a>
                                    </div>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="title">
                                <th mat-header-cell *matHeaderCellDef class="w-40 min-w-40">
                                    Title
                                </th>
                                <td mat-cell *matCellDef="let element" class="text-capitalize">
                                    {{element.title}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="subtitle">
                                <th mat-header-cell *matHeaderCellDef class="w-40 min-w-40">
                                    Sub-Title
                                </th>
                                <td mat-cell *matCellDef="let element" class="text-capitalize">
                                    {{element.subtitle}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="created_at">
                                <th mat-header-cell *matHeaderCellDef class="w-40 min-w-40">
                                    Created At
                                </th>
                                <td mat-cell *matCellDef="let element" class="text-capitalize">
                                    {{element.created_at | date}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef class="w-15 min-w-15"> Action </th>
                                <td mat-cell *matCellDef="let element">
                                    <div class="flex">
                                        <mat-icon svgIcon="heroicons_outline:pencil-alt" (click)="editUser(element)">
                                        </mat-icon>
                                        <mat-icon svgIcon="heroicons_outline:trash" *ngIf="!element?.delLoader"
                                            (click)="deleteUser(element)"></mat-icon>
                                        <mat-progress-spinner *ngIf="element?.delLoader" [diameter]="24"
                                            [mode]="'indeterminate'" class="ml-2"></mat-progress-spinner>
                                    </div>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns;" class="h-18 bg-light"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                                class="h-14 hover:bg-gray-100 dark:hover:bg-hover" style="cursor: pointer;">
                            </tr>
                        </table>
                        <mat-paginator #paginator
                            class="border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                            [ngClass]="{'pointer-events-none': isLoading}" [length]="totalRecords" [pageIndex]="0"
                            [pageSize]="20" (page)="getNextData($event)" [hidePageSize]="true">
                        </mat-paginator>
                    </div>
                    <!-- No Store Found -->
                    <ng-template #other_content>
                        <div class="text-secondary font-semibold p-5 text-center">
                            No Sliders found.
                        </div>
                    </ng-template>
                </div>
            </div>
            <div *ngIf="mainScreen == 'Add New Slider'" class="p-6">
                <div class="row" [formGroup]="sliderForm">
                    <div class="col-12">
                        <mat-form-field class="w-full">
                            <mat-label>Title</mat-label>
                            <input matInput formControlName="title">
                        </mat-form-field>
                    </div>
                    <div class="col-12">
                        <mat-form-field class="w-full">
                            <mat-label>Sub Title</mat-label>
                            <input matInput formControlName="sub_title">
                        </mat-form-field>
                    </div>
                    <div class="col-12">
                        <mat-form-field class="w-full">
                            <mat-label>Description</mat-label>
                            <textarea matInput formControlName="description"></textarea>
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-md-6">
                        <mat-label>Image*</mat-label>
                        <br>
                        <input placeholder="Enter Image URL" type="file" accept="image/*" (change)="imgUpload($event)">
                    </div>
                    <div class="text-right col-12">
                        <button class="min-w-50" mat-stroked-button [matTooltip]="'Add New Slider'"
                            (click)="addNewSlider()" [disabled]="isAddLoader || !sliderForm.valid">
                            <mat-icon svgIcon="heroicons_solid:plus" *ngIf="!isAddLoader"></mat-icon>
                            <span class="ml-2" *ngIf="!isAddLoader"> Add New Slider </span>
                            <mat-progress-spinner *ngIf="isAddLoader" [diameter]="24"
                                [mode]="'indeterminate'"></mat-progress-spinner>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="isEditBoolean" class="w-full">
        <div class="p-6">
            <div class="text-right my-2">
                <button class="min-w-30" mat-stroked-button [matTooltip]="'Back to List'" (click)="backToList()">
                    <span class="ml-2" *ngIf="!isEditLoader"> Back to List </span>
                </button>
            </div>
            <div class="row" [formGroup]="editUserForm">
                <div class="col-12">
                    <img class="w-50" src="{{imgUrl + editUserForm.get('url').value}}">
                </div>
                <div class="col-12">
                    <mat-form-field class="w-full">
                        <mat-label>Title</mat-label>
                        <input matInput formControlName="title">
                    </mat-form-field>
                </div>
                <div class="col-12">
                    <mat-form-field class="w-full">
                        <mat-label>Sub Title</mat-label>
                        <input matInput formControlName="subtitle">
                    </mat-form-field>
                </div>
                <div class="col-12">
                    <mat-form-field class="w-full">
                        <mat-label>Description</mat-label>
                        <textarea matInput formControlName="description"></textarea>
                    </mat-form-field>
                </div>
                <div class="col-12 col-md-6">
                    <mat-label>Image*</mat-label>
                    <br>
                    <input placeholder="Enter Image URL" type="file" accept="image/*" (change)="imgUpload($event)">
                </div>
                <div class="text-right col-12">
                    <button class="min-w-50" mat-stroked-button [matTooltip]="'Update Slider'" (click)="updateUser()">
                        <mat-icon svgIcon="heroicons_solid:pencil-alt" *ngIf="!isEditLoader"></mat-icon>
                        <span class="ml-2" *ngIf="!isEditLoader"> Update Slider </span>
                        <mat-progress-spinner *ngIf="isEditLoader" [diameter]="24"
                            [mode]="'indeterminate'"></mat-progress-spinner>
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>