<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">

    <mat-drawer-container class="flex-auto h-full">

        <!-- Drawer -->
        <mat-drawer class="flex w-60 min-w-60 dark:bg-gray-900" [autoFocus]="false" [mode]="drawerMode"
            [opened]="drawerOpened" #matDrawer>
            <fuse-vertical-navigation [navigation]="menuData" [inner]="true" [mode]="'side'"
                [name]="'docs-core-features-navigation'" [opened]="true"></fuse-vertical-navigation>
        </mat-drawer>

        <!-- Drawer content -->
        <mat-drawer-content class="flex flex-col" fuseScrollReset>

            <!-- Main -->
            <div class="flex-auto">
                <!-- <router-outlet></router-outlet> -->
                <div class="flex flex-col flex-auto min-w-0">

                    <!-- Header -->
                    <div
                        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
                        <div class="flex-1 min-w-0">
                            <!-- Title -->
                            <div class="mt-2">
                                <h2
                                    class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                                    {{this.selectedScreeen}}
                                </h2>
                            </div>
                        </div>
                        <button class="-ml-3 sm:ml-0 mb-2 sm:mb-0 order-first sm:order-last" mat-icon-button
                            (click)="toggleDrawer()">
                            <mat-icon [svgIcon]="'heroicons_outline:menu'"></mat-icon>
                        </button>
                    </div>
                    <!-- <div class="text-right p-5">
                        <button class="min-w-30" mat-button mat-flat-button color="primary"
                            [routerLink]="['/apps/users']">Back to list</button>
                    </div> -->
                    <router-outlet></router-outlet>
                </div>

            </div>

        </mat-drawer-content>

    </mat-drawer-container>

</div>