<div class="flex-auto w-full">
    <div class="w-full" *ngIf="!isEditBoolean">
        <div class="p-5 pb-4">
            <mat-button-toggle-group #group="matButtonToggleGroup" [value]="mainScreen"
                (change)="calledScreen(group.value)">
                <mat-button-toggle value="Product Variants">
                    Product Variants
                </mat-button-toggle>
                <mat-button-toggle value="Add New Variant">
                    Add New Variant
                </mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <div>
            <div *ngIf="mainScreen == 'Product Variants'">
                <div *ngIf="isLoading" class="px-5">
                    <ngx-skeleton-loader count="8" appearance="line" animation="pulse" [theme]="{ 
                        'background-color': '#dedede'
                      }">
                    </ngx-skeleton-loader>
                </div>
                <div *ngIf="!isLoading">
                    <div *ngIf="storeProducts.length > 0;else other_content" class="w-full">
                        <table mat-table [dataSource]="storeProducts" class="w-full border-t">
                            <ng-container matColumnDef="id">
                                <th mat-header-cell *matHeaderCellDef class="w-40 min-w-40">
                                    ID
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.id}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="color">
                                <th mat-header-cell *matHeaderCellDef class="w-40 min-w-40">
                                    Color
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.color}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="price_adjustment">
                                <th mat-header-cell *matHeaderCellDef class="w-40 min-w-40">
                                    Price Adjustment
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.price_adjustment | currency}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="stock">
                                <th mat-header-cell *matHeaderCellDef class="w-40 min-w-40">
                                    Stock
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.stock }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="size">
                                <th mat-header-cell *matHeaderCellDef class="w-40 min-w-40">
                                    Size
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.size}}
                                </td>
                            </ng-container>


                            <ng-container matColumnDef="created_at">
                                <th mat-header-cell *matHeaderCellDef class="w-40 min-w-40">
                                    Created At
                                </th>
                                <td mat-cell *matCellDef="let element" class="text-capitalize">
                                    {{element.created_at | date: 'MM-dd-yyyy'}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef class="w-15 min-w-15"> Action </th>
                                <td mat-cell *matCellDef="let element">
                                    <div class="flex">
                                        <mat-icon svgIcon="heroicons_outline:trash" *ngIf="!element?.delLoader"
                                            (click)="deleteVariant(element)"></mat-icon>
                                        <mat-progress-spinner *ngIf="element?.delLoader" [diameter]="24"
                                            [mode]="'indeterminate'" class="ml-2"></mat-progress-spinner>
                                    </div>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns;" class="h-18 bg-light"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                                class="h-14 hover:bg-gray-100 dark:hover:bg-hover" style="cursor: pointer;">
                            </tr>
                        </table>
                        <mat-paginator #paginator
                            class="border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                            [ngClass]="{'pointer-events-none': isLoading}" [length]="totalStoreProd" [pageIndex]="0"
                            [pageSize]="20" (page)="getNextData($event)" [hidePageSize]="true">
                        </mat-paginator>
                    </div>
                    <!-- No Store Found -->
                    <ng-template #other_content>
                        <div class="text-secondary font-semibold p-5 text-center">
                            No Product Variants Found.
                        </div>
                    </ng-template>
                </div>
            </div>
            <div *ngIf="mainScreen == 'Add New Variant'" class="p-6">
                <div class="bg-card rounded-2xl p-5">
                    <div class="row" [formGroup]="variantForm">
                        <div class="col-12 font-bold text-xl my-4">Add New Variant</div>
                        <div class="col-12 col-md-6">
                            <mat-form-field class="w-full">
                                <mat-label>Color</mat-label>
                                <input matInput formControlName="color">
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-md-6">
                            <mat-form-field class="w-full">
                                <mat-label>Size</mat-label>
                                <input matInput formControlName="size">
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-md-6">
                            <mat-form-field class="w-full">
                                <mat-label>Price Adjustment</mat-label>
                                <input matInput formControlName="price_adjustment" type="number">
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-md-6">
                            <mat-form-field class="w-full">
                                <mat-label>Stock</mat-label>
                                <input matInput formControlName="stock" type="number">
                            </mat-form-field>
                        </div>
                        <div class="text-right col-12">
                            <button class="min-w-50" mat-stroked-button [matTooltip]="'Add New Variant'"
                                [disabled]="isAddLoader" (click)="addNewVariant()">
                                <mat-icon svgIcon="heroicons_solid:plus" *ngIf="!isAddLoader"></mat-icon>
                                <span class="ml-2" *ngIf="!isAddLoader"> Add New Variant </span>
                                <mat-progress-spinner *ngIf="isAddLoader" [diameter]="24"
                                    [mode]="'indeterminate'"></mat-progress-spinner>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>