<div class="flex-auto w-full">
    <div class="w-full p-5">
        <div *ngIf="isLoading" class="px-5">
            <ngx-skeleton-loader count="8" appearance="line" animation="pulse" [theme]="{ 
                'background-color': '#dedede'
              }">
            </ngx-skeleton-loader>
        </div>
        <div *ngIf="!isLoading">
            <div *ngIf="storeProducts.length > 0;else other_content" class="w-full">
                <mat-form-field class="w-full">
                    <mat-label>Select Categories For Product Import</mat-label>
                    <mat-select [(ngModel)]="ngSelectedCats" multiple>
                        <mat-option *ngFor="let item of AllCategories" value="{{item.id}}">{{item.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <table class="table table-striped" datatable>
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Status</th>
                            <th>Created At</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of storeProducts">
                            <td>
                                <img *ngIf="item.image" src="{{item?.image.src}}" class="w-10">
                                <img *ngIf="!item.image" src="assets/images/coming_soon.jpg" class="w-10" alt="">
                            </td>
                            <td>{{item.id}}</td>
                            <td>{{item.title}}</td>
                            <td>{{item.variants[0].price | currency}}</td>
                            <td class="text-capitalize">{{item.status}}</td>
                            <td>{{item.created_at | date}}</td>
                            <td>
                                <button (click)="addNewShopifyProduct(item)" mat-button mat-flat-button color="primary"
                                    [disabled]="item?.importLoader">
                                    <span *ngIf="!item?.importLoader">Import Product</span>
                                    <mat-progress-spinner *ngIf="item?.importLoader" [diameter]="24"
                                        [mode]="'indeterminate'" class="ml-2"></mat-progress-spinner>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- No Store Found -->
            <ng-template #other_content>
                <div class="text-secondary font-semibold p-5 text-center">
                    No Store Product Found.
                </div>
            </ng-template>
        </div>
    </div>

</div>